body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#cadastro-form, #lista-personagens {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-cadastro label {
    display: block;
    margin-bottom: 5px;
}

#form-cadastro input[type="text"],
#form-cadastro input[type="number"],
#form-cadastro select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#form-cadastro button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
}

#tabela-personagens {
    width: 100%;
    border-collapse: collapse;
}

#tabela-personagens th,
#tabela-personagens td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ccc;
}

#tabela-personagens .acoes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    color: #333;
}

#tabela-personagens .acoes button:hover {
    background-color: #ddd;
}

#tabela-personagens .acoes button.editar {
    color: #007bff;
}

#tabela-personagens .acoes button.excluir {
    color: #dc3545;
}
